.text-brand-color-primary-green{
  color: var(--color-primary-green);
}

.text-brand-color-secondary-green{
  color: var(--color-secondary-green);
}


.text-bold {
  font-weight: 600;
}

.text-uppercase{
    text-transform: uppercase;
}